@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
* { margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: "Roboto", sans-serif; }

    nav {
        justify-content: space-between;
        display: flex;
        height: 70px;
        align-items: center;
        padding: 0 16px;
        background-color: #cafdff;
    }
  
    h1 {font-size: 72px;}

    .p1 { font-size: 36px;
        margin: 16px 0px 24px 0px;}

    .logo {width: 300px;}

    ul {display: flex;}

    li { list-style-type: none;
        padding-left: 16px;}

    header { background-color: #eadcff;
            height: calc(100vh - 70px);
            padding: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            }

    a { color: black;
        font-size: 24;
        font-weight: 700;}

        button { background-color: #05c7cf;
                color: white;
                border: none;
                padding: 8px 16px;
                font-size: 24px;
                cursor: pointer;}
        .d1 {width: 100%;
            max-width: 1300px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;}

    /*

    About

    */

    .About
    #Discord
    #contact
     { padding: 48px 0;
            display: flex;
            }
    .About {background-color: #f8ffdc;}


    h2 {
        font-size: 60px;
        text-align: center;
        margin-bottom: 24px;            }

    .div2 { display: flex;
            justify-content: center;
            align-items: center;
            } 
    
    .about__image--wrapper
        
     {
        width: 40%;
        padding: 0 24px;
        ;
    }

    img {width: 100%;}

.section__description--wrapper 
{width: 60%;
padding: 0 24px;}

.section__description--para {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 24px;
}

/*

Discord

*/


#Discord { background-color: #cefeff;}

/*

contact

*/

#Contact {background-color: #dce9ff;
    
}

form 
        { width: 100%;
        max-width: 600px;
       display: flex;
       flex-direction: column;
       margin: 0 auto;
       padding: 0 24px;
        }

input, textarea {margin-bottom: 24px;
                font-size: 20px;
                padding: 6px 12px;}

/*

footer

*/

footer { padding: 48px; 
    background-color: #aaf5ff;
    display: flex;
    flex-direction: column;
    align-items: center;
        }

.footer__logo {max-width: 480px;    
                }

.footer__links { margin-bottom: 32px;}   

.footer__link { padding: 0 16px;}

@media 

( max-width: 728px )
 {
    .div1 { flex-direction: column;}

.home__description { margin-bottom: 24px;
                    display: flex;
                    flex-direction: column;
                     align-items: center;}

h1 {text-align: center;
    font-size: 60px;}

.subheader {text-align: center;
            font-size: 28px; }

ul { display: none;
    }

.div2 { flex-direction: column;}

.section__description--wrapper {width: 100%;}

.about__image--wrapper {width: 100%;}

#Discord .div2 {flex-direction: column-reverse;}

#footer {padding: 48px 24px;}  

}
        







    
            